name: CI workflow

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [20, 22]

    name: Node.js ${{ matrix.node }}

    services:
      mssql:
        image: mcr.microsoft.com/mssql/server:2017-CU8-ubuntu
        env:
          ACCEPT_EULA: Y
          SA_PASSWORD: S3cretP4ssw0rd!
        ports:
          - 1433:1433

    steps:
      - uses: actions/checkout@v4

      - name: Install
        run: npm install

      - name: Run eslint
        run: npm run lint

      - name: Run tests
        run: npm run test

  automerge:
    needs: test
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - uses: fastify/github-action-merge-dependabot@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
